<div>
    <h1> SECCION PARA ELIMINAR UN PRODUCTO</h1>

    <div class="hGroup">
        <h4> Bienvenido {{info.dataLoginUser.first_name}}</h4>
        <h4> You are an: {{info.dataLoginUser.role}}</h4>
    </div>
    <div id="productContainer">

    <div  class=" mt-2 row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4"> 
                    
        {{#each info.arrayProd}}
            <div class="boxProduct">
              
                <article class="col">
                    <div class="card Animacion">
                        <img src="{{thumbnail}}" class="card-img-top" alt="imagen {{title}}">
                        <div class="card-body">
                            <h3 class="card__titulo"> {{title}}</h3>
                            <h4 class = "card__titulo"> $ {{price}} </h4>
                        </div>
                        <div>
                            <button onclick="handleProd(`{{_id}}`)"><b>Eliminar de la Base de datos</b></button>
                        </div>
                    </div>
                </article>
            </div>
        {{/each}}
    </div>
</div>
<a href="/products"> Volver a inicio </a>
<script src="/js/modifyProdDB.js"></script>