<h1> PRODUCTOS </h1>
<div class="dataUserContainer">
    <div class="hGroup">
        <h4> Bienvenido {{info.dataLoginUser.first_name}}</h4>
        <h4> You are an: {{info.dataLoginUser.role}}</h4>
    </div>
    <div>
        <form action="/api/sessions/logout">
            <button class="btn btn-primary  mt-2" type="submit">Logout</button>
        </form>
    </div>
    <div>
        <form action="/profile">
            <button class="btn btn-primary  mt-2" type="submit">Profile</button>
        </form>
    </div>
    <div class="cartButtonContainer">
        <a href="/carts/{{info.dataLoginUser.cart}}">
            <button class="btn btn-primary  mt-2"> Ver carrito </button>
        </a>
    </div>
    <div class="cartButtonContainer">
        <a href="/control-panel">
            <button class="btn btn-primary  mt-2"> administrar usuarios </button>
        </a>
    </div>
</div>

<div id="productContainer">
    <div  class=" mt-2 row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4"> 
                        
        {{#each info.arrayProd}}
            <div class="boxProduct">
                
                <article class="col">
                    <div class="card Animacion">
                        <img src="{{thumbnail}}" class="card-img-top" alt="imagen {{title}}">
                        <div class="card-body">
                            <h3 class="card__titulo"> {{title}}</h3>
                            <h4 class = "card__titulo"> $ {{price}} </h4>
                        </div>
                        <div>
                            <button class="btn btn-primary mt-2" onclick="handleCart(`{{_id}}`)"><b>Agregar al Carrito</b></button>
                        </div> 
                    </div>
                </article>
            </div>
        {{/each}}
    </div>
</div>
<script src="/js/products.js"></script>