<h1> PRODUCTOS </h1>
<div class="dataUserContainer">
    <div class="hGroup">
        <h4> Bienvenido {{info.dataLoginUser.first_name}}</h4>
        <h4> You are an: {{info.dataLoginUser.role}}</h4>
    </div>
    <div>
        <form action="/api/sessions/logout">
            <button type="submit">Logout</button>
        </form>
    </div>
    <div class="cartButtonContainer">
        
        <a href="/carts/{{info.dataLoginUser.cart}}">
            <button> Ver carrito </button>
        </a>
        
    </div>
</div>

<div id="productContainer">
    {{#each info.arrayProd}}
        <div class="boxProduct">
            <div class="product">
                <ul>
                    
                    <li> <strong>Id:</strong> {{_id}} </li>
                    <li> Title: {{title}} </li>
                    <li> Description: {{description}} </li>
                    <li> Price: {{price}} </li>
                    <li> Code: {{code}} </li>
                    <li> Status: {{status}} </li>
                    <li> Category: {{category}} </li>
                    <li> Stock: {{stock}} </li>
                    <li> Thumbnail: {{thumbnail}} </li>
                    
                </ul>
            </div>
            <div>
                <button onclick="handleCart(`{{_id}}`)"><b>Agregar al Carrito</b></button>
            </div>
        </div>
    {{/each}}
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>